@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

html, body {
    font-family: Raleway;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: auto;
    background: url(images/bg.jpg);
    background-size: cover;
}

header {
    margin: auto;
    background-color: rgba(0,0,0,0.4);
    color:white;
    
}

.bar {
    box-shadow: 0px 20px 50px grey;
}

header img {
    height: 100px;
    vertical-align: middle;
    
}

header h3 {
    display: inline;
}

nav {
    display: inline-table;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color:rgba(0,0,0,0.4);
}

.navbar li {
    display: inline;
    padding: 10px;
}

.navbar img { 
    height: 30px;
}






section {
    padding-top: 30px;
}

.posts {
    margin: auto;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    box-shadow: 0px 10px 50px rgba(0,0,0,0.8);
    text-align: center;
}

.box {
    float: left;
    margin-left:25%;
    width: 25%;
    height:400px;
    color: white;
    background-color: darkslategray;
    box-shadow: 0px 10px 50px rgba(0,0,0,0.8);
}

.contents h1{
    text-align: center;
}

.contents p {
    font-size: 20px;
    padding: 20px;
}

.contents h3 {
    text-align: center;
    text-decoration: none;
}
.box1 {
    float: right;
    margin-right:25%;
    width: 25%;
    background-image: url("images/backspace.jpg");
    height:400px;
    color: white;
    box-shadow: 0px 10px 50px rgba(0,0,0,0.8);
}

.box1 img {
    padding-top: 10px;
    display: block;
    margin: auto;
}

.box1 h1 {
    padding: 100px;
    text-align: center;
}
.box2 {

    float: left;
    margin-left:25%;
    width: 25%;
    height:400px;
    color: white;
    background-color: darkslategray;
    box-shadow: 0px 10px 50px rgba(0,0,0,0.8);
}

.box3 {
    float: right;
    margin-right:25%;
    width: 25%;
    height:400px;
    color: white;
    background-image: url(images/bean.jpg);
    box-shadow: 0px 10px 50px rgba(0,0,0,0.8);
    transition: all 0.4s ease;
    -webkit-filter:blur(0px);
}

.box3:hover {
    transition: all 0.4s ease;
    -webkit-filter:blur(5px);
}

.box4 {
    float: right;
    width: 25%;
    height:100px;
    color: white;
}


#main-footer {
    position: fixed;
    font-size: 10px;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    color: white;
    text-align: center;
}



