@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

html, body {
    font-family: Raleway;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: auto;
    background: url(images/bg.jpg);
    background-size: cover;
}

header {
    margin: auto;
    background-color: rgba(0,0,0,0.4);
    color:white;
    
}

.bar {
    box-shadow: 0px 20px 50px grey;
}

header img {
    height: 100px;
    vertical-align: middle;
    
}

header h3 {
    display: inline;
}

nav {
    display: inline-table;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color:rgba(0,0,0,0.4);
}

.navbar li {
    display: inline;
    padding: 10px;
}

.sign {
    font-size: 30px;
}

section {
    padding-top: 30px;
}

.posts {
    margin: auto;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    box-shadow: 0px 10px 50px rgba(0,0,0,0.8);
    text-align: center;
}

.box {
    float: left;
    margin-left:25%;
    width: 24%;
    height:400px;
    color: white;
    background-color: darkslategray;
    box-shadow: 0px 10px 50px rgba(0,0,0,0.8);
}
.box1 {
    float: right;
    margin-right:25%;
    width: 24%;
    height:400px;
    color: white;
    background-color: darkslategray;
    box-shadow: 0px 10px 50px rgba(0,0,0,0.8);
}


#main-footer {
    font-size: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    color: white;
    text-align: center;
}



